<MudCard Style="padding: 24px; width: 100%; justify-content: center; align-items: center; display: flex; flex-direction: column;">
    <MudCardHeader Style="padding: 0;">
        <CardHeaderContent>
            <MudText Typo="Typo.h6">
                ID: @ScoresModel.Id
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Style="display: flex; flex-direction: column; align-items: center;">
        <MudChipSet>
            <MudChip Color="@MapColorFromScore(ScoresModel.ConditionScore)">Zustand: @ScoresModel.ConditionScore.ToString()</MudChip>
            <MudChip Color="@MapColorFromScore(ScoresModel.HeatingScore)">Heizung: @ScoresModel.HeatingScore.ToString()</MudChip>
            <MudChip Color="@MapColorFromScore(ScoresModel.PriceSmScore)">€ QM kalt : @ScoresModel.PriceSmScore.ToString()</MudChip>
            <MudChip Color="@MapColorFromScore(ScoresModel.RentMarginScore)">KM zu NK: @ScoresModel.RentMarginScore.ToString()</MudChip>
            <MudChip Color="@MapColorFromScore(ScoresModel.Score)">Gesamtbewertung: @ScoresModel.Score.ToString()</MudChip>
        </MudChipSet>
        <div style="display: flex; gap: 80px; padding-top: 32px;">
            <MudCard Style="display: flex; gap: 32px; padding: 16px;">
                <div style="font-weight: bold; display: flex; flex-direction: column;">
                    <MudText Style="font-weight: bold;">Zustand</MudText>
                    <MudText Style="font-weight: bold;">Heizungstyp</MudText>
                    <MudText Style="font-weight: bold;">Inneneinrichtung</MudText>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <MudText>@ScoresModel.Condition</MudText>
                    <MudText>@ScoresModel.HeatingType</MudText>
                    <MudText>@ScoresModel.InteriorQual</MudText>
                </div>
            </MudCard>
            <MudCard Style="padding: 16px; display: flex; gap: 32px;">
                <div style="display: flex; flex-direction: column;">
                    <MudText Style="font-weight: bold;">Wohnungstyp</MudText>
                    <MudText Style="font-weight: bold;">Baujahr</MudText>
                    <MudText Style="font-weight: bold;">Wohnfläche</MudText>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <MudText>@ScoresModel.TypeOfFlat</MudText>
                    <MudText>@ScoresModel.YearConstructed</MudText>
                    <MudText>@ScoresModel.LivingSpace QM</MudText>
                </div>
            </MudCard>
            <MudCard Style="padding: 16px; display: flex; gap: 32px;">
                <div style="display: flex; flex-direction: column;">
                    <MudText Style="font-weight: bold;">Kaltmiete pro QM / gesamt</MudText>
                    <MudText Style="font-weight: bold;">Nebenkosten pro QM / gesamt</MudText>
                    <MudText Style="font-weight: bold;">Gesamtmiete pro QM /gesamt</MudText>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <MudText>@ScoresModel.PricePerSqmBase.ToString("N2")€ (@((ScoresModel.PricePerSqmBase * ScoresModel.LivingSpace).ToString("N0"))€)</MudText>
                    <MudText>@ScoresModel.PricePerSqmService.ToString("N2")€ (@((ScoresModel.PricePerSqmService * ScoresModel.LivingSpace).ToString("N0"))€)</MudText>
                    <MudText>@((ScoresModel.PricePerSqmService + ScoresModel.PricePerSqmBase).ToString("N2"))€ 
                        (@((ScoresModel.PricePerSqmBase 
                            * ScoresModel.LivingSpace + ScoresModel.PricePerSqmService 
                            * ScoresModel.PricePerSqmService).ToString("N0"))€)</MudText>
                </div>
            </MudCard>
        </div>
    </MudCardContent>
    <MudCardActions>
        <MudButton Variant="Variant.Text" Color="Color.Primary">Auf Karte anzeigen</MudButton>
    </MudCardActions>
</MudCard>