<MudCard Style="padding: 24px; width: 100%; justify-content: center; align-items: center; display: flex; flex-direction: column;">
    <MudCardHeader Style="padding: 0;">
        <CardHeaderContent>
            <MudText Typo="Typo.h6">
                ID: @RentScoresModel.Id
            </MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Style="display: flex; flex-direction: column; align-items: center;">
        <MudChipSet Style="display: flex;">
            <MudText Style="padding-right: 12px;" Typo="Typo.h5">Punkte</MudText>
            <MudChip Color="@MapColorFromScore(RentScoresModel.ConditionScore)">Zustand: @RentScoresModel.ConditionScore.ToString()</MudChip>
            <MudChip Color="@MapColorFromScore(RentScoresModel.HeatingScore)">Heizung: @RentScoresModel.HeatingScore.ToString()</MudChip>
            <MudChip Color="@MapColorFromScore(RentScoresModel.PriceSmScore)">QM kalt : @RentScoresModel.PriceSmScore.ToString()</MudChip>
            <MudChip Color="@MapColorFromScore(RentScoresModel.RentMarginScore)">KM zu NK: @RentScoresModel.RentMarginScore.ToString()</MudChip>
            <MudChip Color="@MapColorFromScore(RentScoresModel.Score)">Gesamtbewertung: @RentScoresModel.Score.ToString()</MudChip>
        </MudChipSet>
        <div style="display: flex; gap: 80px; padding-top: 32px;">
            <MudCard Style="display: flex; gap: 32px; padding: 16px;">
                <div style="font-weight: bold; display: flex; flex-direction: column;">
                    <MudText Style="font-weight: bold;">Zustand</MudText>
                    <MudText Style="font-weight: bold;">Heizungstyp</MudText>
                    <MudText Style="font-weight: bold;">Inneneinrichtung</MudText>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <MudText>@RentScoresModel.Condition</MudText>
                    <MudText>@RentScoresModel.HeatingType</MudText>
                    <MudText>@RentScoresModel.InteriorQual</MudText>
                </div>
            </MudCard>
            <MudCard Style="padding: 16px; display: flex; gap: 32px;">
                <div style="display: flex; flex-direction: column;">
                    <MudText Style="font-weight: bold;">Wohnungstyp</MudText>
                    <MudText Style="font-weight: bold;">Baujahr</MudText>
                    <MudText Style="font-weight: bold;">Wohnfläche</MudText>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <MudText>@RentScoresModel.TypeOfFlat</MudText>
                    <MudText>@RentScoresModel.YearConstructed</MudText>
                    <MudText>@RentScoresModel.LivingSpace QM</MudText>
                </div>
            </MudCard>
            <MudCard Style="padding: 16px; display: flex; gap: 32px;">
                <div style="display: flex; flex-direction: column;">
                    <MudText Style="font-weight: bold;">Kaltmiete pro QM / gesamt</MudText>
                    <MudText Style="font-weight: bold;">Nebenkosten pro QM / gesamt</MudText>
                    <MudText Style="font-weight: bold;">Gesamtmiete pro QM /gesamt</MudText>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <MudText>@RentScoresModel.PricePerSqmBase.ToString("N2")€ (@((RentScoresModel.PricePerSqmBase * RentScoresModel.LivingSpace).ToString("N0"))€)</MudText>
                    <MudText>@RentScoresModel.PricePerSqmService.ToString("N2")€ (@((RentScoresModel.PricePerSqmService * RentScoresModel.LivingSpace).ToString("N0"))€)</MudText>
                    <MudText>@((RentScoresModel.PricePerSqmService + RentScoresModel.PricePerSqmBase).ToString("N2"))€ 
                        (@((RentScoresModel.PricePerSqmBase 
                            * RentScoresModel.LivingSpace + RentScoresModel.PricePerSqmService 
                            * RentScoresModel.PricePerSqmService).ToString("N0"))€)</MudText>
                </div>
            </MudCard>
        </div>
    </MudCardContent>
</MudCard>